<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <table>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Room</th>
            <th>Subjects</th>
            {% for object in object_list %}
            <tr>
                <td>{{ object.first_name }}</td>
                <td>{{ object.last_name }}</td>
                <td>{{ object.email }}</td>
                <td>{{ object.phone }}</td>
                <td>{{ object.room }}</td>
                <td>{{ object.subjects }}</td>
            </tr>
            {% endfor %}
        </table>

        <form action="{% url 'import' %}" method="POST" class="ui form" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="ui button primary">Import</button>
        </form>
    </body>
</html>