{% extends 'base.html' %}
{% load static %}
{% get_media_prefix as MEDIA_URL %}
{% block title %} {{ object.first_name }} {{ object.last_name }} {% endblock %}
{% block content %}
<div class="card mb-5">
	<div class="row no-gutters">
		<div class="col-md-6">
			{% if object.image %}
			<img class="img-fluid" src="{{ object.image.url }}" alt="{{ object.first_name }} {{ object.last_name }}">
			{% else %}
			<img class="img-fluid" src="{{ MEDIA_URL }} default.jpg">
			{% endif %}
		</div>
		<div class="card-body">
			<p class="text-muted mb-0" style="font-size: 12px">First Name:</p>
			<p>{{ object.first_name }}</p>
			<p class="text-muted mb-0" style="font-size: 12px">Last Name:</p>
			<p>{{ object.last_name }}</p>
			<p class="text-muted mb-0" style="font-size: 12px">Email:</p>
			<p>{{ object.email }} </p>
			<p class="text-muted mb-0" style="font-size: 12px">Phone:</p>
			<p>{{ object.phone }} </p>
			<p class="text-muted mb-0" style="font-size: 12px">Room:</p>
			<p>{{ object.room }} </p>
			<p class="text-muted mb-0" style="font-size: 12px">Subjects:</p>
			<p><ul>{% for subject in object.subjects.all %}<li>{{ subject }}</li>{% endfor %}</ul></p>
		</div>
	</div>
</div>  
{% endblock %}