{% extends 'base.html' %}
{% block title %}Home::Teacher Listing{% endblock %}
{% block content %}
<div class="form-row">
    <form action="{% url 'directory:search' %}">
        <label for="choice">Filter by:</label>
            <select id="choice" name="choice" class="form-select form-select-lg mb-3">
                <option value="lname">Last Name</option>
                <option value="subject">Subject</option>
            </select>
            <input type="text" class="form" name="q" placeholder="Search term...">
            <input type="submit" value="Search">
            <!--<span class="input-group-btn"></span>
                <button class="fa fa-search" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>-->
    </form>
</div>
<div label="table">
        <table class="table table-bordered table-striped table-hover mt-3">
            <thead class="thead-dark">
                <tr>
                    <th class="w-25">Name</th>
                    <th class="w-25">Email</th>
                    <th class="w-25">Phone</th>
                    <th class="w-10">Room</th>
                    <th class="w-50">Subjects</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td><a href="{% url 'directory:detail' object.id %}"> {{ object.first_name }} {{ object.last_name }}</td>
                    <td>{{ object.email }}</td>
                    <td>{{ object.phone }}</td>
                    <td>{{ object.room }}</td>
                    <td><ul>{% for subject in object.subjects.all %}<li>{{ subject }}</li>{% endfor %}</ul></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

        
{% endblock %}
{% block scripts %}
{% endblock %}